html {
    scroll-behavior: smooth;

}

body {
    background-image: url("images/smcc.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

header img {
    height: 40px;
    aspect-ratio: auto 40 / 40;
    width: 40px;
}

.smcc {
    margin: auto!important;
    font-weight: bolder;
}

header {
    border-radius: 10px;
    padding: 5px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(3, 4, 103);
}

.about {
    text-align: center;
    justify-content: center;
}

.about, .qual {
    text-align: center;
    justify-content: center;
}

.about p {
    text-align: justify;
}

.about, .hisp{
    background-color: rgb(4, 4, 103);
    padding: 10px;
}

.about1 img{
    justify-content: center;
    text-align: center;
}

.hisp a {
    color: rgb(241, 238, 18);
}

.yellowhead {
    color: rgb(241, 238, 18);
    background-color: rgb(4, 4, 103);
    border-radius: 15px;
    padding: 10px;
    margin: 0;
    
}

.symbols {
    color: rgb(241, 238, 18);
}

h1 {
    text-align: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
    margin-top: 30px;
}

nav a {
    text-decoration: none;
    color: #ffff;
}

nav {
    height: 40px; /* Set a fixed height for the header */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul ul {
    display: none; 
    position: absolute;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li:hover > ul {
    display: block; 
    background-color: rgb(5, 5, 77);
    width: 200px;
    background-blend-mode: color;
    
}

nav a {
    display: block;
    padding: 1px;
    text-decoration: none;
    color: #ffffff;

}

nav ul ul {
    top: 100%;
    left: 0;
}

nav ul ul li {
    
    padding: 5px;
    background-color: rgb(5, 5, 77);
}

.courses {
    background-color: rgb(4, 4, 103);
}

.off {
    color: rgb(241, 238, 18);
    padding-top: 10px;
}