html {
    scroll-behavior: smooth;

}

body {
    background-image: url("images/smcc.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    height: 40px;
    aspect-ratio: auto 40 / 40;
    width: 40px;
}

.school-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.school-logo img {
    margin-right: 10px;
}

.school-logo h3 {
    color: yellow;
}

.school-logo p {
    color: white;
}

header {
    border-radius: 10px;
    padding: 5px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(3, 4, 103);
}

.about {
    text-align: center;
    justify-content: center;
}

.about, .qual {
    text-align: center;
    justify-content: center;
}

.about p {
    text-align: justify;
}

.about, .hisp{
    background-color: rgb(49,49,197);

    padding: 20px;
}

.about, .milestone {
    justify-content: center;
    text-align: justify;
    padding: 20px;
}

.about table {
    padding: 10px;
    margin-right: 20px;
}

.about1 img{
    justify-content: center;
    text-align: center;
}

.hisp a {
    color: rgb(241, 238, 18);
}

.hisp p {
    text-align: center;
    justify-content: center;
}

.yellowhead {
    color: rgb(241, 238, 18);
    background-color: rgb(4, 4, 103);
    border-radius: 15px;
    padding: 10px;
    margin: 0;
    
}

.symbols {
    color: rgb(241, 238, 18);
}

h1 {
    text-align: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #ffff;
}

nav {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul ul {
    display: none; 
    position: absolute;
}

nav ul li {
    float: center;
    position: relative;
}

nav ul li:hover > ul {
    display: block; 
    background-color: navy;
    width: 150%;
    background-blend-mode: color;
    
}

nav ul li:hover > ul li a {
    display: block;
    padding: 10px; 
    color: white;
    text-decoration: none;
}

nav ul li:hover > ul li a:hover {
    background-color: darkblue;
}

nav a {
    display: block;
    padding: 1px;
    text-decoration: none;
    color: #ffffff;

}

nav ul ul {
    top: 100%;
    left: 0;
}

nav ul ul li {
    
    padding: 5px;
    background-color: navy;
}

.courses {
    background-color:rgb(49, 49, 197);
}

.off {
    color: rgb(241, 238, 18);
    padding-top: 10px;
}

@media screen and (max-width: 1000px) {
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}

.contacts img {
    height: 50px;
    width: 50px;
}

.loca {
    height: 250px;
    width: 200px;
}

footer {
    border-radius: 10px;
    background-color: navy;
    padding: 20px;
    justify-content: center;
    text-align: center;
    color: wheat;
}

.list {
    color:wheat
}